.login {
  margin: 1rem;
  display: grid;
  grid-template-rows: max-content min-content min-content;
  grid-template-columns: auto;
  grid-template-areas: 'banner' 'title' 'form';
  justify-items: center;
}

.login-title { grid-area: title; }

.login-img { grid-area: banner; width: 100%; }

.login-form {
  grid-area: form;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login-label { display: none; }

.login-input {
  width: 75%;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  line-height: 2rem;
  border: 1px solid #18A0FB;
  border-radius: 0.25rem;
}

.login-input::placeholder { color: #18A0FB; }

.login-btn {
  width: calc(75% + 1.25rem);
  height: 2.25rem;
  margin-top: 0.5rem;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  background-color: #18A0FB;
  border-radius: 0.25rem;
}
