.login {
  margin: 1rem;
  display: grid;
  grid-template-rows: max-content min-content min-content;
  grid-template-columns: auto;
  grid-template-areas: 'banner' 'title' 'form';
  justify-items: center;
}

.login__title { grid-area: title; }

.login__banner { grid-area: banner; width: 100%; }

.login__form {
  grid-area: form;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login__form > .w-input {
  width: 75%;
  margin: 0.5rem 0;
}

.login__form > .w-button {
  width: calc(75% + 1.25rem);
  margin-top: 0.5rem;
}
