.products {
  display: grid;
  grid-template-rows: min-content min-content max-content;
  grid-template-columns: 80% 20%;
  grid-template-areas: 'header settings' 'search add' 'table table';
}

.products__header {
  grid-area: header;
}

.add {
  grid-area: add;
}

.search {
  grid-area: search;
  font: inherit;
  /*color: currentColor;*/
  width: 100%;
  border: 0;
  height: 1.1875em;
  margin: 0;
  display: block;
  padding: 0.5rem;
  min-width: 0;
  background: none;
  box-sizing: content-box;
}

table {
  --1st-column-width: auto;
  --2nd-column-width: auto;
  --3rd-column-width: 30%;

  --1st-column-visibility: hidden;
  --2nd-column-visibility: hidden;
  --3rd-column-visibility: visible;

  grid-area: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead { position: relative; }

thead th { background-color: gray; padding: 0.5rem; }

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 55%;
}

thead th:nth-child(3) {
  width: var(--1st-column-width);
  visibility: var(--1st-column-visibility);
}

thead th:nth-child(4) {
  width: var(--2nd-column-width);
  visibility: var(--2nd-column-visibility);
}

thead th:nth-child(5) {
  width: var(--3rd-column-width);
  visibility: var(--3rd-column-visibility);
}

tbody tr td:nth-child(1) {
  width: 15%;
}

tbody tr td:nth-child(2) {
  width: 55%;
}

tbody tr td:nth-child(3) {
  width: var(--1st-column-width);
  visibility: var(--1st-column-visibility);
}

tbody tr td:nth-child(4) {
  width: var(--2nd-column-width);
  visibility: var(--2nd-column-visibility);
}

tbody tr td:nth-child(5) {
  width: var(--3rd-column-width);
  visibility: var(--3rd-column-visibility);
}

.product__list__item.-invisible {
  opacity: 0.3;
}

.options {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.options th:nth-child(1) {
  width: auto;
  visibility: visible;
}
.options th:nth-child(2) {
  width: auto;
  visibility: visible;
}
.options th:nth-child(3) {
  width: auto;
  visibility: visible;
}

/* controlar quando o primeiro item faz fadein
.product__list__item:nth-of-type(1) {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}
 */
