.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.form {
  height: 100%;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.form > label { display: block; width: 100%; position: relative}
.form > label > input { display: block; }
.form > label > p {position: absolute; margin-top: 0.25rem}

.form__title { max-height: 1rem; margin-bottom: 0}

.form__exit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.form__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__buttons > .w-button:only-child {
  margin-left: auto;
}
