table {
  --1st-column-width: 15%;
  --2nd-column-width: 55%;
  --3rd-column-width: auto;
  --4th-column-width: auto;
  --5th-column-width: 30%;

  --1st-column-visibility: visible;
  --2nd-column-visibility: visible;
  --3rd-column-visibility: hidden;
  --4th-column-visibility: hidden;
  --5th-column-visibility: visible;

  grid-area: table;
  width: 100%;
  margin-top: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
}

thead { position: relative; }

thead th { background-color: gray; padding: 0.5rem; }

thead th:nth-child(1) {
  width: var(--1st-column-width);
  visibility: var(--1st-column-visibility);
}

thead th:nth-child(2) {
  width: var(--2nd-column-width);
  visibility: var(--2nd-column-visibility);
}

thead th:nth-child(3) {
  width: var(--3rd-column-width);
  visibility: var(--3rd-column-visibility);
}

thead th:nth-child(4) {
  width: var(--4th-column-width);
  visibility: var(--4th-column-visibility);
}

thead th:nth-child(5) {
  width: var(--5th-column-width);
  visibility: var(--5th-column-visibility);
}

tbody tr td:nth-child(1) {
  width: var(--1st-column-width);
  visibility: var(--1st-column-visibility);
}

tbody tr td:nth-child(2) {
  width: var(--2nd-column-width);
  visibility: var(--2nd-column-visibility);
}

tbody tr td:nth-child(3) {
  width: var(--3rd-column-width);
  visibility: var(--3rd-column-visibility);
}

tbody tr td:nth-child(4) {
  width: var(--4th-column-width);
  visibility: var(--4th-column-visibility);
}

tbody tr td:nth-child(5) {
  width: var(--5th-column-width);
  visibility: var(--5th-column-visibility);
}

@media screen and (min-width: 600px) {
  table {
    --1st-column-width: 10%;
    --2nd-column-width: 30%;
    --3rd-column-width: 20%;
    --4th-column-width: 20%;
    --5th-column-width: 20%;

    --1st-column-visibility: visible;
    --2nd-column-visibility: visible;
    --3rd-column-visibility: visible;
    --4th-column-visibility: visible;
    --5th-column-visibility: visible;
  }

}

